<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Thème{% endblock %}</title>
    <link rel="stylesheet" href="{{ theme_asset('css/bootstrap.min.css') }}">
</head>
<body>
    {% block body %}{% endblock %}
    <script src="{{ theme_asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
